:root {
    /*Cores do Site*/
    --white: #E6E8F4;
    --blue: #00198E;
    --yellow: #FFDF2B;
    --orange: #FFC24B;
    --yellowSecondary: #FFF1A8;
    --bottonAccept: #A2F294;
    --bottonAcceptSecondary: #4F9552;
    --bottonRecuse: #F87D7D;
    --bottonRecuseSecondary: #AC3C3C;
}

/*CSS das tabelas dos treinos*/
.linkIcone {
    text-decoration: none;
    
}

.icone {
    height: 35px;
    width: 35px;
}

.verMais {
    padding-left: 0.4rem;
}

.apagar {
    height: 38px;
    width: 38px;
}

/*CSS da pagina de um treino especifico*/
.divListarTreinoEscolhido {
    display:grid;
    grid-template-columns: repeat(4, 12rem);
    grid-template-rows: repeat(3, 5rem);
}

.divListar .observacao h2{
    width: 45rem;
    max-width: 45rem;
    word-wrap:break-word;
    align-items: center;
    justify-content: center;
}

.divListar .observacao{
    padding-top: 5.9rem;
}

.campoListarTreinoEscolhido {
    width: 10rem;
    display: flex;
}

.botoes a{
    text-decoration: none;
    position: relative;
    bottom: -9.5rem;
    font-size: 1.2rem;
    height: 2rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editarTreinoEscolhido {
    color: var(--white);
    background-color: var(--blue);
    margin-right: 2rem;
    font-family: "Inter", sans-serif;
    border-radius: 1rem;
}

.editarTreinoEscolhido:hover {
    box-shadow: 0.1rem 0.1rem 0.7rem black;
    font-weight: 700;
}

.apagarTreinoEscolhido {
    color: var(--white);
    background-color: var(--bottonRecuseSecondary);
    margin-right: 2rem;
    font-family: "Inter", sans-serif;
    border-radius: 1rem;
}

.apagarTreinoEscolhido:hover {
    box-shadow: 0.1rem 0.1rem 0.7rem black;
    font-weight: 700;
}

